@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,400;0,500;1,100&display=swap');

body {
    background-color: #303134;
}

h1 {
    font-size: 48px;
    color: white;
    text-decoration: none;
    font-family: "Montserrat Alternates";
    text-align: center;
    font-weight: 200;
}

.boxes {
    display: flex;
    flex-direction: column;

    margin-left: 200px;
    margin-right: 200px;
}

.box {
    font-size: 24px;
    color: white;
    text-decoration: none;
    font-family: "Montserrat Alternates";
    text-align: center;
    font-weight: 200;

    border: #212121 solid 4px;
    border-radius: 6px;

    background-color: #494a4f;
}
